*{
  padding: 0;
  margin: 0;
  color: #27302B;
  list-style: none;
}

:root{
  font-family: 'Quicksand', sans-serif;
}

a{
  text-decoration: none;
}

.start_screen{
  width:100%;
  background-color: #d5dee6;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
} 

body{
  margin: 0 auto;
  box-shadow: 2px 2px 10px #999999;
}

h1{
  text-align: right;
  padding-bottom: 1em;
}

header{
  padding: 5% 0 3%;
  display: flex;
  justify-content: space-around;
  font-size: 2em;
}

main{
  padding-bottom: 5%;
}

h3{
  margin: 3vh 0;
  font-size: 2rem;
}

.main_border{
  border: 4px solid #9eb5cb;
  border-radius: 40px;
  width: 25vw;
  position: absolute;
  top: 3vw;
  left: 7.5vw;
  height: 100vmax;

}

@media all and (min-width: 640px) and (max-width: 1020px) {
  .me{
    width: 20vw;
  }
  p, li{
    font-size: 1rem;
  }
  h3, h2{
    color: aqua;
    font-size: 1.5rem;
  }

 .main_border{
   display: none;
  }
}

@media all and (max-width: 639.9px) {
  header {
    flex-direction: column;
  }
  
  .me{
    width: 20vw;
  }

  p, li{
    font-size: 1rem;
  }

  h3, h2 {
    color:yellow;
    font-size: 1.5rem;
  }
}

.photo,
.content__left{ 
  padding-right: 10vw;
}

.me{
  width: 20vw;
  border-radius: 50%;
  padding: 3%;
}

.content__left{
  width: 30vw;
}

.name{
  display: flex;
  align-items: start;
  flex-direction: column;
}

.name h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  letter-spacing: 0.7vw;
}
.name > p{
  margin-bottom: 5%;
}

.about{
  width: 80%;
  font-size: 0.7em;
}

@media screen and (max-width: 1020px) {
  .about{
  font-size: 0.5em;
}

}

.content{
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
}

.education li,
.contact__list li,
.skills_list li,
.experience__item
{
  margin-bottom: 3%;
}

.contact__list_item{
  width: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 1%;
  padding: 5px;
  background-color: #d5dee6;
}

@media screen and (max-width: 1020px) {
  .contact__list_item{
    width: auto;
    margin-right: 0;
    background-color: #ffffff;
  }
}

.education__name{
  font-weight: bold;
}

.education__major,
.education_year{
  font-size: 0.7em;
}

.years{
  padding: 5px;
  background-color: #d5dee6;
}

.example__wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 1020px) {
  .example__wrapper{
    justify-content: center;
  }
}

.example{
  padding: 5px;
  margin: 10px;
  box-shadow: 2px 2px 10px #999999;
  transition: all 0.5s ease;
}

.example:hover{
  cursor: pointer;
  box-shadow: 4px 4px 20px #999999;
  transform: scale(1.1);
}

.example__image{
  width: 200px;
}

.example h4{
  margin: 20px auto;
}

.example a{
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .5s ease-in;
}

.popup__container{
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(41, 41, 41, 0.6);
}

.popup_hidden{
  display: none;
}

.popup{
  width: 50%;
  height: 70%;
  margin: 100px auto;
  background-color: #fdfffe;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.popup__close{
  width: 25px;
  height: 25px;
  padding: 25px;
  align-self: flex-end;
}

.english{
  font-size: 1.2em;
}

footer{
  margin-top: 2rem;
  padding: 0.2em;
  font-size: 3em;
  border-radius: 89% 11% 84% 16% / 74% 81% 19% 26%;
  background-color:#FFDE59;
  display: flex;
  justify-content: space-between;
}